<div>
  <div class="grid grid-cols-12 gap-1">
    <div class="col-span-4">
      <div class="text-2xl">Customers</div>
      <div style="height:70vh;overflow-y:auto">
        <table>
          <thead class="sticky top-0 bg-gray-600 text-white">
            <tr>
              <td>Company</td>
              <td>City</td>
              <td>Order #</td>
            </tr>
          </thead>
          <tbody>
            {{range .}}
              <tr class="h-8 even:bg-gray-300 hover:text-blue-700 cursor-pointer"                  
                hx-get="/customer/{{.Id}}/orders"
                hx-target="#orders">
                <td>{{.CompanyName}}</td>
                <td>{{.City}}</td>
                <td>{{.Ocount}}</td>
              </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-span-8">
      <div id="orders"></div>
    </div>
  </div>
</div>