<div>
  <div class="text-2xl text-blue-500 my-4">Order details</div>
  <div>
    <table class="w-full">
      <thead class="bg-gray-600 text-white sticky top-0">
        <tr>
          <td width="40%">Product Name</td>
          <td align="right">Quantity</td>
          <td align="right">Unit Price</td>
          <td align="right">Line Total</td>
        </tr>
      </thead>
      <tbody>
        {{range .Data}}
          <tr>
            <td>{{.ProductName}}</td>
            <td align="right">{{printf "%d" .Quantity}}</td>
            <td align="right">{{printf "%.2f" .UnitPrice}}</td>
            <td align="right">{{printf "%.2f" .LineTotal}}</td>
          </tr>
        {{end}}
      </tbody>
      <tfoot class="bg-gray-300">
        <tr>
          <td colspan="3" align="right">
            Total:
          </td>
          <td align="right">
            {{printf "%.2f" .Total}}
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>